@layer components {
  .text-h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .text-h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight;
  }

  .text-h3 {
    @apply scroll-m-10 text-2xl font-semibold tracking-tight;
  }

  .text-h4 {
    @apply scroll-m-20 text-xl font-semibold;
  }

  .text-p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .text-muted {
    @apply text-sm text-muted-foreground;
  }
}
